body {
    /*background-color: lightblue;*/
    font-family: verdana;

}

h2 {
    /*color: white;*/
    text-align: center;
}

p {
    /*font-family: verdana;*/
    font-size: 20px;
}

.image {
    max-width: 100px;
    max-height: 100px;
}